<mat-card *ngFor="let ciudad of ciudades">
        <div fxLayout="row wrap" fxLayoutGap="5px" fxLayoutAlign="space-between">
    <mat-card-header>
            <mat-card-title>{{ciudad.nombre}}</mat-card-title>
            <span class="flag-icon flag-icon-{{ciudad.pais.iso_code}} flag-icon-squared"></span>
            <mat-card-subtitle>{{ciudad.rating}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
                <img width=20px mat-card-image [src]="ciudad.foto_url" alt="Foto de {{ciudad.nombre}}">
        </mat-card-content>
        <mat-card-actions>
            <button mat-button (click)="selectCiudad(ciudad)">Ver mas detalles</button>
        </mat-card-actions>
    </div>
     </mat-card>

     <div fxLayout="row" *ngIf="ciudadSeleccionada">
        <app-ciudad-detalle [ciudad]="ciudadSeleccionada"></app-ciudad-detalle>
    </div>